/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('backgrounddd.jpg'); /* Add this line for the background image */
    background-size: cover;
    background-position: center;
    background-color: #f0f0f0; /* Add your background color as a fallback */
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #3498db;
}
